body{
    background-color: beige;
  }
 
 .carousel-inner img {
  width: 100%;
  
  max-height: 200px;
}


.carousel-inner{
height: 200px;


}
.container3{
padding-top: 50px;
}
.container1{
margin-bottom: 25px;
}
.btn-secondary{
padding-top: 8px;
  margin-top: 10px;
}
