body{
 background-image: url(assets/fondo.jpg);
 


}
 

.fb img , .tw img , .insta img ,.botonIconoNav{
  margin-right: 5px;
  border-radius: 5px;
}
.icono, .img{
  border-radius: 5px;
}




.card{
  background-color: rgb(121, 196, 219);
}
.jumbotron{
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.navbar-dark .navbar-toggler, .page-link {
  background-color: rgb(165, 164, 164);
  color: rgb(255, 255, 255);
  border-color: rgba(255,255,255,.1);
}

.navbar-dark {
  border-radius: 10px;
}
.p-4{
  border-radius: 10px;
  
}
.footer1{
  margin-top: 20px;
}






 
 .carousel-inner img {
  width: 100%;
  border-radius: 10px;
  
  max-height: 200px;
}


.carousel-inner{
height: 200px;


}
.container3{
padding-top: 50px;
}
.container0{
  margin-top: 70px;
 
}
.container1{
  margin-top: 20px;
}
.btn-secondary{
padding-top: 8px;
  margin-top: 10px;
}

.rowaux{
  margin-bottom: 20px; 
}